<footer class="footer">

    <div class="companyPrivacy">
        <div class="privacy">
            <a href="#">Privacy Policy</a>
            <a href="#">Terms & Conditions</a>
        </div>
        <div class="about">
            <a href="#">About Company</a>
            <a href="#">Contact Us</a>

        </div>
    </div>

    <div class="socialLinks">
        <i class="fa-brands fa-facebook-f facebook"></i>
        <i class="fa-brands fa-instagram instagram"></i>
        <i class="fa-brands fa-x-twitter twitter"></i>
        <i class="fa-brands fa-linkedin-in linkedin"></i>
        <i class="fa-brands fa-youtube youtube"></i>
    </div>

    <div class="copyRight">
        <p>© 2025 NestInn. All rights reserved.</p>
    </div>
</footer>