<%- layout('layouts/boilerplate'); %>

    <body>
        <div class="errorContainer alert alert-danger mt-5 text-center col-md-6 offset-md-3 " role="alert">
            <p><%=message%></p>
        </div>
    </body>

